<header class="site-header" role="banner">
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
	
	    {% if page_paths %}
      <nav class="site-nav">
		  <a class="page-link" href="/">☁️ AUT Cloud Services</a>
		  <a class="page-link" href="/docs/npm">NPM Mirror</a>
		  <a class="page-link" href="/docs/docker">Docker Mirror</a>
      </nav>
    {% endif %}
  </div>
</header>